<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Team Canuck</title>
    <div class="title"><h1 id="project-team">Team </h1> <h1 id="project-title"> Canuck</h1></div>
</head>
<body>

    {{{body}}}

</body>
</html>