<!-- index.hbs -->
<head> 
        <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<h1>Team Canuck</h1>

<div class="nav-bar">
<a href="/">Home</a> | <a href="/seasons">Seasons</a> | <a href="/players">Players</a> | <a href="/injuries">Injury Report</a> | <a href="/teams">Teams</a>
</div>
