<!-- index.hbs -->
<head> 
        <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<div class="nav-bar">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/player_stats">Player Statistics</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/injuries">Injury Report</a></li>
    <li><a href="/standings">Standings</a></li>
    <li><a href="/seasons">Seasons</a></li>
    </ul>
</div>

<h1 style="padding-left: 10%;">Thousands of <strong>data points</strong> at your fingertips.</h1>
<p style="padding-left: 10%;">Team Canuck supports over one-hundred years of NHL <strong>player</strong> and <strong>team</strong> statistics accross our database.</p>
